name: Tests

on:
  push:
  pull_request:

jobs:
  go_test:
    name: go test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-go@v2
      with:
        go-version: 1.16
    - run: go test ./...
